@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin 0;

  min-height: 100vh;
  background-color: #F0E68C;

}
.smenu
{
  background:#FFD700;
  text-align: center;
}
.smenu ul{
  display:inline-flex;
  list-style: none;
  font-weight: bold;

}
.smenu ul li{
  padding: 15px;
  margin: 15px;
  width: 120px;
  font-size: 20px;
}
.smenu ul li a{
  text-decoration: none;
}
.main {
  margin-top: 70px;
}
.line {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 90px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  height: 430px;
  background-color: #FFD700;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.card__img {
  width: 100%;
  max-height: 400px;
}

.card__name {
  font-size: 18px;
  margin:0 0 0 0;
}

.card__price {
  font-size: 24px;

}

.card__buy {
display: -webkit-inline-flex;
display: -ms-inline-flex;
display: inline-flex;
justify-content: space-around;
-ms-align-items: center;
align-items: center;
width: 100%;
}
.card__currency {
  font-size: 18px;
}


/*Кнопка/// наведение*/
.card__btn {
  border: none;
  cursor: pointer;
  background-color: #DDA0DD;
  padding: 15px 30px;
  border-radius: 30px;
  color:inherit;
  text-transform: inherit;
  font-weight: inherit;
}

.card__btn:hover {
  background-color: #DA70D6;
}

@media (max-width:500px) {
  .line {
    margin-bottom: 20px;
  }
}ы
