<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="Style.css"?
</head>
<body>
<div class="main">
  <div class = "line">
    <article class="card">
   <img src="airforce.png" alt="Nike shoes" class="card__img">
          <h2 class="card__name">Nike</h2>
          <div class="card__buy">

      <p class="card__price">79.99 <span class="card__currency">$.</span></p>
      <button class="card__btn">Add</button>
</div>
    </article>
    <article class="card">
      <img src="airforce.png" alt="Nike shoes" class="card__img">
          <h2 class="card__name">Nike</h2>
          <div class="card__buy">


            <p class="card__price">79.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
    </article>
    <article class="card">

        <img src="airforce.png" alt="Nike shoes" class="card__img">
            <h2 class="card__name">Nike</h2>
            <div class="card__buy">


            <p class="card__price">79.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
      </article>
    </div>
    <div class = "line">
      <article class="card">

        <img src="adidas.png" alt="Adidas shoes" class="card__img">
            <h2 class="card__name">Adidas</h2>
            <div class="card__buy">


            <p class="card__price">99.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
      </article>
      <article class="card">

        <img src="adidas.png" alt="Adidas shoes" class="card__img">
            <h2 class="card__name">Adidas</h2>
            <div class="card__buy">


            <p class="card__price">99.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
      </article>
      <article class="card">

        <img src="adidas.png" alt="Adidas shoes" class="card__img">
            <h2 class="card__name">Adidas</h2>
            <div class="card__buy">


            <p class="card__price">99.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
      </article>
    </div>
    <div class = "line">
      <article class="card">

        <img src="airjordan.png" alt="Air jordan shoes" class="card__img">
            <h2 class="card__name">Air jordan</h2>
            <div class="card__buy">


            <p class="card__price">199.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
      </article>
      <article class="card">

        <img src="airjordan.png" al  t="Air jordan shoes" class="card__img">
            <h2 class="card__name">Air jordan</h2>
              <div class="card__buy">


            <p class="card__price">199.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>
</div>
      </article>
      <article class="card">

        <img src="airjordan.png" al  t="Air jordan shoes" class="card__img">
            <h2 class="card__name">Air jordan</h2>
              <div class="card__buy">


            <p class="card__price">199.99 <span class="card__currency">$.</span></p>
        <button class="card__btn">Add</button>

</div>
</article>
    </div>
  </div>

</body>
</html>
